body {
    font-family: Arial, sans-serif;
}

header {
    padding: 10px 20px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
}

.auth-buttons {
    display: flex;
    gap: 40px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.btn {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 1.5px solid #A0D8FF;
    background-color: #ffff;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.btn:hover {
    background-color: #6bbcf7;
    border-color: #6bbcf7;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: #A0D8FF;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 70px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

.nav-links a:hover {
    color: #6bbcf7;
}

main {
    flex-grow: 1;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
}

main h1 {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 70px;
    margin-left: 20px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 70px;
}

/* Stijlen voor de boxen */
.box {
    width: 200px;
    height: 200px;
    border: 2px solid #A0D8FF;
    border-radius: 15px;
    margin-bottom: 100px;
}

.search-container {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.search-container input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #6bbcf7;
    border-radius: 15px;
}

.search-container input[type="text"]:focus {
    outline: none;
    border-color: #6bbcf7;
}

.btn-create {
    padding: 8px 50px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #6bbcf7;
    background-color: #6bbcf7;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin: -10pxs;
}

.btn-create:hover {
    background-color: #cbe6f8;
    border-color: #6bbcf7;
}

.box1 {
    width: 450px;
    height: 200px;
    border: 2px solid #A0D8FF;
    border-radius: 20px;
    margin-top: 100px;
}

.box-container1 {
    display: flex;
    justify-content: center;
    gap: 70px;
}

main h2 {
    font-size: 30px;
        margin-top: 40px;
        margin-left: 100px;
        margin-bottom: 50px;
}

.create-btn {
    padding: 8px 50px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #A0D8FF;
    background-color: #A0D8FF;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 150px;
}

.create-btn:hover {
    background-color: #cbe6f8;
    border-color: #A0D8FF;
}


.story-container {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.story-input {
    width: 100%;
    height: 300px;
    border: 2px solid #A0D8FF;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #A0D8FF;
    background-color: #A0D8FF;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.submit-btn:hover {
    background-color: #cbe6f8;
    border-color: #A0D8FF;
}

#title-input {
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #A0D8FF;
    border-radius: 10px;
    margin-bottom: 20px;
}

.save-title-btn {
    padding: 10px 50px;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid #A0D8FF;
    background-color: #A0D8FF;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-right: -20px;
}

.save-title-btn:hover {
    background-color: #cbe6f8;
    border-color: #A0D8FF;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.work-container {
    margin-top: 50px;
}

.work-container h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

#work-list {
    list-style: none;
    padding: 0;
}

.work-btn {
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border: 1.5px solid #A0D8FF;
    background-color: #ffff;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    display: block;
    width: 25%;
}


.work-btn:hover {
    background-color: #6bbcf7;
    border-color: #6bbcf7;